# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Editable install / packaging artifacts
*.egg-info/
.eggs/
pip-wheel-metadata/
dist/
build/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt



# IDEs / editors
.vscode/